<div class="container d-flex justify-content-center">
    <form action="/auth/login" method="post" class="w-50 d-flex flex-column mt-5 needs-validation" novalidate>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" name="email" id="email" class="form-control" required>
            <div class="invalid-feedback">
                Please provide an Email
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control" required>
            <div class="invalid-feedback">
                Please provide a Password
            </div>
        </div>
        <span class="text-danger mb-3">{{errorMessage}}</span>
        <button type="submit" class="btn btn-primary"<a href="/users/profile"</a>Iniciar sesion</button>
    </form>
</div>