<h2>Acá podrá postear el articulo que desea vender</h2>

<form action="create" method="POST">
<label>Skin Name</label>
<input
      type="text"
      name="nombreDelProducto"
      />

<label>Description</label>
<textarea
    type="text"
    name="descripcion"
></textarea>
<label>Amount</label>
<input
      type="number"
      name="cantidad"
/>
<label>Phone Number</label>
<input
     type="text"
     name="NumeroTelefonico"
/>
<label>Reason For Sale</label>
<textarea
         type="text"
         name="razonDeVenta"
></textarea>
<label>Skin</label>
<select name="skinSelected">
      {{#each skins}}
      <option value="{{this/_id}}">
            {{this/nombreDelaSkin}}
      </option>
      {{/each}}
</select>

<label>Publication Date</label>
<input
      type="date"
      name="fechaDePublicacion"
      />
<button type="submit">Publish Post</button>
</form>







