<h1>Tu perfil</h1>

{{#if foundUser}}

   <p>¡ Hola {{foundUser.username}} bienvenido!, puedes empezar viendo el <a href="/#">Market</a> para familiarizarte con el tipo de producto que se vende, o puedes empezar ya publicando tu skin <a href="/skin/create">acá</a>
   puede visitar las skins que usted a creado en esta <a href="/skin">lista</a> </p>

    {{else}}
    <p>Aún no has iniciado sesión</p>
{{/if}}
