{{!-- 
<h2>Cree una skin</h2>
<form action="create" method="POST">
<label>Skin Name</label>
<input
    type="text"
    name="nombreDelaSkin"
/>
<label>Descripcion</label>
<textarea
    type="text"
    name="descripcion"
></textarea>
<label>Juego</label>
<select name=
"juegoAlQuePertenece">
    {{#each juegos}}
<option value="{{this}}">
    {{this}}
</option>
{{/each}}
</select>
<label>Calidad</label>
<input 
      type="number"
      name="calidad"
      />
<label>Imagen</label>
<input
     type="text"
     name = "imagen"
     />

     <button type="submit">Crear Skin</button>
</form> --}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet"  href="/stylesheets/styles.css"/>
  <style>
    label{
      color:white
    }
  </style>
<body>
</head>
<body>
  <form action="create" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName4">Skin Name</label>
      <input type="text" class="form-control" name="nombreDelaSkin" placeholder="Skin Name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputText4">Description</label>
      <input type="text" class="form-control" name="descripcion"  placeholder="Description">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAmount">Calidad</label>
    <input type="number" class="form-control" name="calidad" placeholder="Amount">
  </div>
    <div class="form-group col-md-4">
      <label for="inputSkin">Juego</label>
      <select name="juegoAlQuePertenece">
    {{#each juegos}}
<option value="{{this}}">
    {{this}}
</option>
{{/each}}
</select>
</select>
    
  </div>
  <button type="submit" class="btn btn-primary">Publish Skin</button>
</form>
</body>
</html>