<h2>Update the drone</h2>
<form action="edit" method="POST" >
<h2>Skin Name</h2>
<input type="string" name="nombreDeLaskin" placeholder="{{nombreDelaSkin}}"/>
<h2>Descripcion</h2>
<input type="text" name ="descripcion" placeholder="{{descripcion}}"/>
{{!-- <h2>Juego</h2>
<input type="text" name="juego" placeholder="{{}}"" --}}
<h2>Calidad</h2>
<input type="number" name ="calidad" placeholder="{{calidad}}"/>
<h2>Imagen</h2>
<input type="text" name ="imagen" placeholder="{{imagen}}"/>
<button type="submit">Enviar</button>
</form>
